@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


    
    body
    {
        font-family: 'Raleway', Arial, sans-serif;
        margin:0 auto;
        max-width: 1440px;
    }
    #bloc_page
    {
        margin: auto;
    }
    header
    {
        font-size: 0.5em;
        display: flex;
        justify-content: space-between;
    } 
    #titre_principal
    {
        margin-left: 10px;
    }
    #titre_principal h1
    {
        padding-top: 25px;
        font-size: 3em;
    }
    #titre_principal h2
    {
        font-size: 2em;
        font-weight: normal;
    }
    #logo img
    {
        max-width: 120px;
        margin-top: 25px;
    }
    .menu_navigation
    {
        height: 100%;
    }
    .menu_navigation ul
    {
        font-size: 1.1rem;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .menu_navigation li
    {
        list-style-type: none;
        margin-right: 50px;
        height: 100px;
        border-top: 3px solid transparent;
        color: black;
    }
    .menu_navigation li:hover
    {
        border-color: #0065FC;
    }
    .menu_navigation a:hover
    {
        color: #0065FC;
    }
    .menu_navigation a
    {
        text-decoration: none;
        display: flex; /*permet de redimensionner le lien(un lien est type in-line) en faisant un display flex on le transforme en type bloc ce qui autorise le redimensionnement*/
        height: 100%;
        align-items: center;
    }
    .menu_navigation .register
    {
        color: #0065FC;
        font-weight: bold;
    }
    
    .Section_recherche
    {
        margin: 0 20px;
    }
    .icone_cote_gauche
    {
        display: flex;
        border-radius: 5px;
    }
    .fas.fa-map-marker-alt /*pour changer les parametres de l'icone position*/ 
    {
        height: 50px;
        width: 50px;
        background: #F2F2F2 repeat;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bouton_rechercher a
    {
        text-decoration: none;
    }
    .bouton_rechercher span/*personnalisation du bouton rechercher*/
    {
        font-size: 17px;
        width: 125px;
        background: #0065FC repeat-x;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 15px 3px;
        margin: 0;
        border-radius: 0px 10px 10px 0px ;  
        display: flex;
        justify-content: center;
    }
    input[type="search"] /*pour changr les parametres de la barre de recherche*/
    {
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        padding-left: 8px;
    }
    input[placeholder="Marseille, France"]
    {
        font-weight: bold;
    }
    .fas.fa-search
    {
        display: none;
    }
    .filtres 
    {
        max-width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .filtres h3 
    {
        font-size: 1.2rem;
        margin: 0px 30px 10px 0px;
    }
    .filtres ul
    {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .filtres li
    {
        margin: 10px 30px 10px 0px;
        display: flex;
        border: 2px solid #F2F2F2;
        border-radius: 50px;
    }

    .fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
    {
        font-size:1rem;
        padding: 15px;
        background: #DEEBFF;
        border-radius: 50%;
    }
    .fa-color
    {
        color: dodgerblue;
    }
    .fa-color2
    {
        color: lightgrey;
    }

    nav li a
    {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    nav li a:hover p
    {
        color: #0065FC;
    }
    nav li p
    {
        font-size: 1rem;
        margin: 0 10px;
        padding: 10px;
    }
    li img
    {
        margin: 0px 130px 10px 10px;
        padding-right: 10px;
        height: 20px;
    }
    #recherche_description
    {
        margin: 0 20px;
    }

    #recherche_description div
    {
        display: flex;
        align-items: baseline;
    }

    #recherche_description .fas.fa-info
    {
        padding: 5px 10px 5px 10px;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
        margin: 20px 20px 0px 0px;
    }
    .fas.fas.fa-info
    {
        padding-bottom: 5px;
    }
    nav p
    {
        margin-top: -20px;
        font-size: 1rem;
        margin-left: 40px;
    }

    section, article, footer
    {
        padding: 20px 0;
    }

    .main_bloc
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .main_bloc h2
    {
        font-size: 1.4rem;
        font-family: "Raleway",serif,sans-serif;
        font-weight:bold;
        margin: 0;
    }
    section a
    {
        list-style-type: none;  
    }

    article, aside
    {
        padding: 25px 30px;
        border-radius: 20px;
    }
    
    a
    {
        color: black;
        text-decoration: none;
        cursor:pointer;
    }
    .hebergements .vignette, aside .vignette, .activites .vignette
    {
        height: 200px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }

    .hebergements .vignette_image
    {
        height: 115px;
    }

    .hebergements .vignette_image img, .activites .vignette_image img
    {
        border-radius: 10px 10px 0 0;
    }
    .hebergements .legende_vignette
    {
        padding: 0 10px;
    }
    .vignette
    {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .vignette_image
    {
        background-color: white;
        border-radius: 0px 20px 20px 0px;
        border: 1px solid white;
    }

    .vignette_image img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .legende_vignette
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.9rem;
        font-family: 'Raleway';
        flex: 1;
    }

    .legende_vignette strong
    {
        font-size: 1rem;
        display: block;
        color: black;
    }

    .legende_vignette p
    {
        margin: 0;
        display: flex;
    }

    .vignette i
    {
        font-size: 0.8rem;
        letter-spacing: -3px;
    }

    aside
    {
        background: #F2F2F2 repeat;
    }

    aside .tittle
    {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .les_plus_populaires
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    aside .vignette
    {
        height: 140px;
        flex-direction: row;
    }

    .les_plus_populaires .vignette_image
    {
        max-width: 40%;
    }

    .les_plus_populaires .vignette_image img
    {
        border-radius: 20px 0px 0px 20px;
        border: 1px solid white;
    }

    .les_plus_populaires .legende_vignette, .activites .legende_vignette
    {
        padding: 0 20px;
    }

    .details
    {
        text-decoration: none;
    }
    .details h3
    {
        margin: 0;
        padding: 0;
        width: 115px;
        font-size: 1.1em;
        font-family: 'Raleway', sans-serif, serif;
    }

    .fa-color3
    {
        color: black;
    }

    section.activites
    {
        padding: 0 20px;
        max-width: 100%;
    }
    #activite
    {
        margin-top: 50px;
    }
    .vignette_activites
    {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .group_vignette
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .activites .vignette_image
    {
        height: calc(100% - 3rem); 
        border: none;
    }

    .activites .vignette
    {
        padding: 0;
        margin-bottom: 30px;   
    }
    
    .activites .legende_vignette
    {
        height: 40px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.8rem;
        border-radius: 0 0 10px 10px;
    }

    .activites .vignette:hover
    {
        box-shadow: 0px 10px 20px 0px;
    }

    footer
    {
        background: #F2F2F2 repeat;
        height: 100%;
    }
    footer h2
    {
        font-size: 1.3rem;
    }
    
    footer div
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5px 20px;    
    }

    .credits p
    {
       margin: 8px 0; 
    }

@media screen and (max-width:767px)
{
    
    .main_bloc aside
    {
        order: 1;
    }
    .main_bloc article
    {
        order: 2;
    }

    .vignette_hebergements_marseille
    {
        margin-top: 30px;
    }
}
    
@media screen and (min-width:768px)
{
    #titre_principal 
    {
        margin-left: 20px;
    }
    .menu_navigation 
    {
        height: 100%;
        padding-right: 20px;
    }
    .menu_navigation li
    {
        margin-left: 30px;
        margin-right: 10px;
    }
    .Section_recherche
    {
        margin-left: 20px;
    }
    .icone_cote_gauche 
    {
        margin: 0;
    }
    .filtres
    {
        max-width: 100%;
        margin: 20px 20px 0px 20px;
    }
    .filtres ul
    {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    } 
    .filtres li
    {
        margin-bottom: 20px;
        align-items: center;
    }
    
    /*<------------------BLOC HEBERGEMENTS------------------>*/

    .main_bloc
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 20px;
    }
    article
    {
        order: -1;
        flex: 1;
        background: #F2F2F2 repeat;
    }


    .vignette_hebergements_marseille
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
    }

    .hebergements .vignette
    {
        width: 250px;
        margin: 15px 0;
    }
    .vignette
    {
        width: 100%;
        height: 100%;
    }

    aside .vignette
    {
        margin-bottom: 20px;
    }
    
    aside
    {
        max-width: 420px;
        margin-left: 30px;
        height: 100%;
        flex: 1;
    }

    /*<---------------SECTION ACTIVITé MARSEILLE--------------->*/
    
    section.activites
    {
        max-width: 100%;
        margin: 20px 0;
    }
    #activite h2
    {
        padding-left: 20px;
    }

    .group_vignette 
    {
        height: 450px;
        flex-wrap: wrap;
        flex: 1 100%;
        align-content: space-between;
        justify-content: space-between;
    }

    .group_vignette:nth-child(1), .group_vignette:nth-child(2)
    {
        margin-bottom: 30px;
    }

    .vignette.complete
    {
        height:100%;
    }

    .activites .vignette
    {
        max-width: calc(50% - 2.5rem / 2);
        margin: 0;
    }

    .activites .vignette_image
    {
        flex: 1;
    }
    .activites .legende_vignette
    {
        max-height: 50px;
    }

    .vignette.moyenne
    {
        height: 235px;
    }

    .activites_marseille .vignette_moyenne
    {
        width: 100%;
    }

    .vignette.petite
    {
        height: 160px;
    }
    .activites_marseille img 
    {
        width: 100%;
        object-fit: cover;   
    }

    footer 
    {
        max-width: 100%;
        padding: 30px 20px 20px 30px;
        margin: 0;
    }

    footer div
    {
        flex-direction: row;
        padding: 0;
    }
    .credits
    {
        flex-direction: column;
        padding: 0 20px;
    }

    .credits p
    {
        padding-bottom: 10px;
        margin: 0;    
    }
}


@media screen and (min-width: 1200px) 
{

    .group_vignette
    {
        flex: 1;
    }

    .group_vignette:nth-child(2)
    {
        margin-left: 40px;
    }
}


@media all and (max-width:480px)
{
    body
    {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    #bloc_page
    {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #logo img
    {
        width: auto;
        display: block;
    }
    .menu_navigation
    {
        position: absolute;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 80px; 
    }
    .menu_navigation ul
    {
        margin: 10px 0;
        padding: 10px 0;
    }
    .menu_navigation li 
    {
        border-bottom: 3px solid lightgrey;
        border-top: none;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }
    .menu_navigation li a
    {
        width: auto;
        padding: 0 40px; /* pour changer la distance entre les menus*/
        margin: 0;
        height: 50px;
    }
    .menu_navigation a:hover 
    {
        color: #0065FC;
    }
    .menu_navigation .register
    {
        position: absolute;
        height: auto;
        right: 25px;
        top: -30px;
        padding: 0;
        border-bottom: none;
    }
    #titre_principal
    {
        margin: 0;
        padding: 0px 20px 0px 30px;
    }
    #titre_principal h1
    {
        padding: 0;
        margin-top: 120px;
        font-size: 1.4rem;
        text-align: start;
    }
    #titre_principal h2
    {
        font-weight: lighter;
    }
    .Section_recherche
    {
        max-width: 100%;
    }
    .fas.fa-map-marker-alt
    {
        padding: 10px;
        width: 30px;
        height: 30px;
    }
    .icone_cote_gauche
    {
        margin: 20px 0;
    }
    input[type="search"]
    {
        width:235px;
        height: 50px;
    }
    .bouton_rechercher span
    {
        display: none;
    }
    .fas.fa-search
    {
        background: #0065FC repeat-x;
        padding: 17px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 35px;
        color: white;
        margin-left: -10px;
    }
    
}