@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@media  screen and (min-width:120px) and (max-width:4000px)
{
    
    body
    {
        font-family: 'Raleway', Arial, sans-serif;
        margin:0 auto;
        max-width: 1400px;
    }
    #bloc_page
    {
        margin: auto;
    }
    header
    {
        font-size: 0.5em;
        display: flex;
        justify-content: space-between;
    } 
    #titre_principal
    {
        margin-left: 10px;
    }
    #titre_principal h1
    {
        padding-top: 25px;
        font-size: 3em;
    }
    #titre_principal h2
    {
        font-size: 2em;
        font-weight: normal;
    }
    #logo img
    {
        max-width: 120px;
        margin-top: 25px;
    }
    .menu_navigation
    {
        height: 100%;
    }
    .menu_navigation ul
    {
        font-size: 1.1rem;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .menu_navigation li
    {
        list-style-type: none;
        margin-right: 50px;
        height: 100px;
        border-top: 3px solid transparent;
        color: black;
    }
    .menu_navigation li:hover
    {
        border-color: #0065FC;
    }
    .menu_navigation a:hover
    {
        color: #0065FC;
    }
    .menu_navigation a
    {
        text-decoration: none;
        display: flex; /*permet de redimensionner le lien(un lien est type in-line) en faisant un display flex on le transforme en type bloc ce qui autorise le redimensionnement*/
        height: 100%;
        align-items: center;
    }
    .menu_navigation .register
    {
        color: #0065FC;
        font-weight: bold;
    }
    .icone_cote_gauche
    {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        border-radius: 5px;
    }
    .fas.fa-map-marker-alt /*pour changer les parametres de l'icone position*/ 
    {
        height: 50px;
        width: 50px;
        background: url(images/fond_gris_ciel.png) repeat-x;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bouton_rechercher a
    {
        text-decoration: none;
    }
    .bouton_rechercher p/*personnalisation du bouton rechercher*/
    {
        font-size: 17px;
        width: 125px;
        background: url(images/fond_bleu.png) repeat-x;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 15px 3px;
        margin: 0;
        border-radius: 0px 10px 10px 0px ;  
    }
    input[type="search"] /*pour changr les parametres de la barre de recherche*/
    {
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        padding-left: 8px;
    }
    input[placeholder="Marseille, France"]
    {
        font-weight: bold;
    }
    .fas.fa-search
    {
        display: none;
    }
    .filtres 
    {
        display: flex;
        margin-top: 20px;
        margin-left: 15px;
    }
    .icone_filtres
    {
        border-radius: 2px solid blue;
    }

    .filtres h3 
    {
        height: 20px; /*pour changer la hauteur (de la marge)*/
        font-size: 1.2rem;
    }
    .filtres ul
    {
        list-style-type: none;
        display: flex;
        margin: 7px;
    }
    .filtres li
    {
        margin-right: 20px;
        display: flex;
        border: 2px solid #F2F2F2;
        border-radius: 50px;
    }
    .fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
    {
        font-size:1rem;
        padding: 15px;
        background: #DEEBFF;
        border-radius: 50%;
    }
    .fa-color
    {
        color: dodgerblue;
    }
    .fa-color2
    {
        color: lightgrey;
    }

    nav li a
    {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    nav li a:hover p
    {
        color: #0065FC;
    }
    nav li p
    {
        font-size: 1.1rem;
        margin: 0 10px;
        padding: 10px;
    }
    li img
    {
        margin: 0px 130px 10px 10px;
        padding-right: 10px;
        height: 20px;
    }
    #recherche_description
    {
        margin-left: -60px; /*pour changer la marge à gauche de l'icone info*/
        margin-top: 50px;
    }
    #recherche_description .fas.fa-info
    {
        padding: 5px 10px 5px 10px;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
    }
    .fas.fas.fa-info
    {
        padding-bottom: 5px;
    }
    nav p
    {
        margin-top: -20px;
        font-size: 1rem;
        margin-left: 40px;
    }

    section
    {
        display: flex;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    section h2
    {
        font-family: "Raleway",serif,sans-serif;
        font-weight:bold;
    }
    section a
    {
        list-style-type: none;  
    }
    strong
    {
        color: black;
    }
    article
    {
        background: #F2F2F2 repeat;
        border-radius: 20px;
        margin-right: 50px;
        padding: 10px 40px 10px 40px;
        height: 575px;
        width: 845px;
    }
    article h2 .details h3
    {
        display: flex;
        flex-direction: column;
    }
    #hebergements_marseille
    {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-gap: 40px;
        width: 845px;
    }
    #hebergements_marseille figure
    {
        width: 260px;
        height: 178px;
        margin: 0;
    }
    figure .vignette img
    {
        width: 100%; /*pour que limage (reste centrer) ne depasse jamais la taille de son conteneur*/
    }
    figure .vignette
    {
        width: 255px; /*pour changer la largeur de l'image*/ 
        height: 115px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 20px 20px 0px 0px;
        border: 4px solid white;
    }
    .vignette figcaption, .fas.fa-star
    {
        margin: 0;
        padding-top: 10px;
    }
    figure .vignette_auberge
    {
        width: 255px;
        height: 115px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 20px 20px 0px 0px;
        border: 4px solid white;
    }
    .vignette_auberge img
    {
        width: 100%;
    }
    figure figcaption  /*pour parametrer description de l'image*/
    {
        padding-left: 20px;
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 0.9rem;
        height: 70px;
        width: 243px;
        color: grey;
    }
    figure a 
    {
        text-decoration: none; /*pour modifier l'apparence du lien de l'image*/
    }

    figure /* pour parametrer l'affichage des image(espace entre les vignettes par ex:)*/
    {
    display: inline-block; 
    }

    .details
    {
        text-decoration: none;
    }
    .details h3
    {
        margin: 0;
        padding: 0;
        width: 110px;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif, serif;
    }

    aside
    {
        background: #F2F2F2 repeat;
        border-radius: 20px;
        padding: 10px 40px;
        width: 340px;
        height: 576px;
    }
    aside h2 .icone_stats
    {
        width: 20px;
    }
    .icone_stats
    {
        position: relative;
        top: 3px;
        right: -100px;
    }
    #les_plus_populaires
    {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 500px;
        justify-content: space-between;
    }
    #les_plus_populaires figure
    {
        height: 150px;
        margin: 0; 
        width: 340px; 
    }
    #les_plus_populaires figcaption /*pour gerer les parametres de la description image*/
    {
        top: -143px;
        left: 140px;
        border-radius: 0px 20px 20px 0px;
        height: 133px;
        width: 180px;
        position: relative; /*pour que la description soit positionnée sur le coté de l'image*/
        padding-top: 10px; 
    }

    figure .populaires_1
    {
        width: 135px;
        height: 135px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0px 0px 20px;
        border: 4px solid white;
    }
    figure .populaires img
    {
        width: 100%;
    }

    figure .populaires
    {
        width: 135px;
        height: 135px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0px 0px 20px;
        border: 4px solid white;
    }
    figure .populaires_1 img
    {
        max-height: 100%; 
    }
    #les_plus_populaires .populaires_1 .populaires strong
    {
        display: flex;
    }
    #les_plus_populaires figure figcaption .fas.fa-star
    {
        margin: 0;
        padding-top: 55px;
    }
    .fa-color3
    {
        color: black;
        font-style: 'Raleway' sans-serif serif;
    }
    #activité
    {
        margin-top: 50px;
        font-family: 'Raleway', serif, sans-serif;
    }
    #activités_à_marseille
    {
        display: flex;
    }
    .group_vignette
    {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        height: 490px;
    }
    #activités_à_marseille figure
    {
        margin: 0;
    }
    #activités_à_marseille figure img
    {
        width: 100%;
        object-fit: cover;
    }
    figure .activités_marseille
    {
        width: 310px;
        height:430px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure .activités_marseille img
    {
        max-height: 100%;
    }
    #activités_à_marseille .note_1
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px; /*pour changer la largeur de la banniere description*/
        box-shadow: 0px 10px 20px 0px;
        color: grey;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
    }
    figure .le_fort
    {
        width: 310px;
        height:190px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        align-items: center;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure .le_fort img
    {
        width: 100%;
    }
    figure figcaption.descrip_fort
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure .frioul
    {
        width: 310px;
        height:140px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure .frioul img
    {
        width: 100%;
    }
    figure figcaption.descrip_frioul
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
    }
    figure .Calanques
    {
        width: 310px;
        height:430px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure .Calanques img
    {
        max-height: 100%;
        object-fit: cover;
    }
    figure figcaption.Calanques
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
        display: flex;
        justify-content: flex-start ;
    }
    figure .la_garde
    {
        width: 310px;
        height:190px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: baseline ;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure figcaption.descrip_la_garde
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
    }
    figure .longchamp
    {
        width: 310px;
        height:140px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    figure figcaption.descrip_longchamp
    {
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        font-size: 1rem;
        height: 20px;
        width: 262px;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
        border: 4px solid white;
        padding: 20px;
        margin-top: -10px;
    }
        
    footer
    {
        background: #F2F2F2 repeat;
        margin-top: 50px;
        margin-left: -60px;
        margin-right: -60px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        height: 220px;
    }
    footer h2
    {
        font-size: 1.3rem;
    }
    footer a
    {
        text-decoration: none;
        color: black;
    }
    #a_propos
    {
        margin-left: 60px;
    }
    #assistance
    {
        padding-right: 400px
    }
}




@media all and (max-device-width:480px)
{
    body
    {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    #bloc_page
    {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #logo img
    {
        width: auto;
        display: block;
    }
    .menu_navigation
    {
        position: absolute;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 80px; 
    }
    .menu_navigation ul
    {
        margin: 10px 0;
        padding: 10px 0;
    }
    .menu_navigation li 
    {
        border-bottom: 3px solid lightgrey;
        border-top: none;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }
    .menu_navigation li a
    {
        width: auto;
        padding: 0 40px; /* pour changer la distance entre les menus*/
        margin: 0;
        height: 50px;
    }
    .menu_navigation a:hover 
    {
        color: #0065FC;
    }
    .menu_navigation .register
    {
        position: absolute;
        height: auto;
        right: 25px;
        top: -30px;
        padding: 0;
        border-bottom: none;
    }
    #titre_principal
    {
        margin: 0;
        padding: 0px 20px 0px 30px;
    }
    #titre_principal h1
    {
        padding: 0;
        margin-top: 120px;
        font-size: 1.4rem;
        text-align: start;
    }
    #titre_principal h2
    {
        font-weight: lighter;
    }
    .Section_recherche
    {
        padding: 0px 0px 0px 30px;
        width: auto;
    }
    .fas.fa-map-marker-alt
    {
        padding: 10px;
        width: 30px;
        height: 30px;
    }
    .icone_cote_gauche
    {
        margin: 20px 0;
    }
    input[type="search"]
    {
        width:235px;
        height: 50px;
    }
    .bouton_rechercher p
    {
        display: none;
    }
    .fas.fa-search
    {
        background: url(images/fond_bleu.png) repeat-x;
        padding: 17px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 35px;
        color: white;
        margin-left: -10px;
    }
    .filtres
    {
        margin-left: 30px;
    }
    .filtres ul
    {
        flex-wrap: wrap;
        margin: 60px 0px 0px -55px;
        padding: 0;
    }
    .filtres li
    {
        margin-bottom: 20px;
        align-items: center;
    }
    nav li p
    {
        margin: 0;
        font-size: 1rem;
    }
    #recherche_description
    {
        margin-left: -55px;
        margin-top: 20px;
    }
    #recherche_description p
    {
        padding: 10 px;
    }
    section
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    section aside
    {
        order: 1;
        border-radius: 0px;
        margin-bottom: 20px;
        padding: 10px 20px;
    }
    section article
    {
        order: 2;
        border-radius: 0px;
        margin: 0;
        padding: 15px 20px;
        height: auto;
        background-color: white;
    }
    #hebergements_marseille
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #hebergements_marseille figure
    {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    #hebergements_marseille .vignette
    {
        width: auto;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    #hebergements_marseille .vignette_auberge
    {
        width: auto;
    }
    #hebergements_marseille figcaption
    {
        width: auto;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    #activité
    {
        margin: 20px 0;
        padding: 10px 20px;
        height: auto;
        width: auto;
    }
    #activités_à_marseille
    {
        flex-wrap: wrap;

    }
    .group_vignette
    {
        height: auto;
        width: auto;
    }
    #activités_à_marseille figure
    {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }
    figure .activités_marseille
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .activités_marseille img
    {
        width: 100%;
        object-fit: cover; /*pour que l'image prenne bien toute la taille du conteneur(vignette)*/
    }
    #activités_à_marseille .note_1
    {
        width: auto;
    }
    figure .le_fort
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .le_fort img
    {
        width: 100%;
    }
    figure figcaption.descrip_fort
    {
        width: auto;
    }
    #activités_à_marseille figure.frioul
    {
        position: static;
    }
    figure .frioul
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .frioul img
    {
        width: 100%;
    }
    figure figcaption.descrip_frioul
    {
        width: auto;
    }
    #activités_à_marseille figure.Calanques
    {
        position: static;
        margin-top: 30px;
    }
    figure .Calanques
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .Calanques img
    {
        width: 100%;
        object-fit: cover;
    }
    figure figcaption.Calanques
    {
        width: auto;
    }
    #activités_à_marseille figure.la_garde
    {
        position: static;
    }
    figure .la_garde
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .la_garde img
    {
        width: 100%;
    }
    figure figcaption.descrip_la_garde
    {
        width: auto;
    }
    #activités_à_marseille figure.longchamp
    {
        position: static;
    }
    figure .longchamp
    {
        padding: 0;
        width: 100%;
        height: 115px;
    }
    figure .longchamp img
    {
        width: 100%;
    }
    figure figcaption.descrip_longchamp
    {
        width: auto;
    }
    footer
    {
        width: auto;
        height: auto;
        margin: 0;
        padding: 10px 20px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    #a_propos, #nos_hebergements, #assistance
    {
        margin: 0;
        padding: 0;
    }
}

@media screen (min-width:480px) and (max-width:768px)
{
    body
    {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    #bloc_page
    {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #logo img
    {
        width: auto;
        display: block;
    }
    .menu_navigation
    {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .menu_navigation li 
    {
        margin-left: 50px;
        margin-right: 0;
    }
    #titre_principal
    {
        margin-left: 20px;
    }
    #titre_principal h1
    {
        padding: 0;
        margin-top: 25px;
        font-size: 1.4rem;
    }
    #titre_principal h2
    {
        font-size: 17px;
    }
    .icone_cote_gauche
    {
        margin-left: 20px;
    }
    .fas.fa-map-marker-alt
    {
        padding: 10px;
        width: 35px;
        height: 25px;
    }
    input[type="search"] 
    {
        height: 45px;
    }
    .bouton_rechercher p
    {
      padding: 13px 0;  
    }
    .filtres 
    {
        margin-left: 20px;
    }  
    .filtres ul
    {
        flex-wrap: wrap;
        margin: 60px 0px 0px -55px;
        padding: 0;
    } 
    .filtres li
    {
        margin-bottom: 20px;
        align-items: center;
    }
    nav li p
    {
        margin: 0;
        font-size: 1rem;
    }
    #recherche_description
    {
        margin-left: -55px;
        margin-top: 20px;
    }
    section
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    article
    {
        margin: 0;
        margin-bottom: 30px;
        height: auto;
        padding: 10px 50px;
        width: auto;
    }
    #hebergements_marseille
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #hebergements_marseille figure
    {
        height: auto;
        margin-bottom: 30px;
    }
    #hebergements_marseille .vignette
    {
        width: auto;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    #hebergements_marseille .vignette_auberge
    {
        width: auto;
    }
    #hebergements_marseille figcaption
    {
        width: auto;
        box-shadow: 0px 10px 20px 0px;
        color: grey;
    }
    aside
    {
        width: 100%;
    }
}
    
@media screen and (min-width:768px) and (max-width:1439px)
{
    #titre_principal 
    {
        margin-left: 20px;
    }
    .menu_navigation 
    {
        height: 100%;
        padding-right: 20px;
    }
    .menu_navigation li
    {
        margin-left: 30px;
        margin-right: 10px;
    }
    .Section_recherche
    {
        margin-left: 20px;
    }
    .icone_cote_gauche 
    {
        margin: 0;
    }
    .filtres
    {
        width: 100%;
        margin-left: 20px;
    }
    .filtres ul
    {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px 0px 0px -55px;
        padding: 0;
        width: 100%;
    } 
    .filtres li
    {
        margin-bottom: 20px;
        align-items: center;
    }
    #recherche_description 
    {
        margin-left: -50px;
        margin-top: 20px;
    }
    
    <------------------SECTION HEBERGEMENTS------------------>

    section
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    article
    {
        order: -1;
        flex: 1;
        width: 100%;
        margin: 0 20px;
        height: auto;
        padding: 25px;
    }

    #hebergements_marseille
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    #hebergements_marseille figure
    {
        width: 100%;
        height: 100%;
    }
    figure .vignette
    {
        width: auto;
    }
    figure figcaption
    {
        width: auto;
    }
    figure .vignette_auberge
    {
        width: auto;
    }
    .details h3
    {
        margin-bottom: 20px;
    }
    aside
    {
        width: 100%;
        margin: 0;
        margin-right: 20px;
        height: 100%;
        flex: 1;
        padding: 25px;
    }

    /*<---------------SECTION ACTIVITé MARSEILLE--------------->*/
    
    #activité
    {
        width: auto;
        margin: 0 20px;
    }
    #activité h2
    {
        padding-left: 20px;
    }
    #activités_à_marseille
    {
        width: 100%;
        height: 1050px;
        padding: 20px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .group_vignette 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        height: 490px;
        align-content: space-between;
    }

    #activités_à_marseille figure
    {
        padding: 0;
        width: 50%;
    }
    figure .activités_marseille
    {
        width: 100%;
    }
    figure .activités_marseille img 
    {
        width: 100%;
        object-fit: cover;   
    }
    #activités_à_marseille .note_1
    {
        width: auto;
    }

    #activités_à_marseille figure.le_fort
    {
        width: 45%;
    }
    figure .le_fort
    {
        width: 100%;
    }
    figure figcaption.descrip_fort
    {
        width: auto;
    }
    #activités_à_marseille figure.frioul
    {
        width: 45%;
    }
    figure .frioul
    {
        width: 100%;
    }
    figure .frioul img 
    {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    figure figcaption.descrip_frioul
    {
        width: auto;
    }

    figure .Calanques
    {
        width: 100%;
    }
    figure figcaption.Calanques
    {
        width: auto;
    }
    #activités_à_marseille figure.la_garde
    {
        width: 45%;
    }
    figure .la_garde
    {
        width: 100%;
    }
    figure figcaption.descrip_la_garde
    {
        width: auto;
    }
    #activités_à_marseille figure.longchamp 
    {
        width: 45%;
    }
    figure .longchamp
    {
        width: 100%;
    }
    figure .longchamp img 
    {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    figure figcaption.descrip_longchamp
    {
        width: auto;
    }
    footer 
    {
        width: auto;
        padding: 30px 20px 0px 20px;
        margin: 0;
    }
    footer h2 ,p
    {
        font-size: 1rem;
    }
    #a_propos
    {
        margin: 0;
    }
    #assistance
    {
        padding-right: 100px;
    }
}